/target

drizzle-gateway-volume/
*.log


.temp_update/
*.zip


*.exe


node_modules/

# Generated icon & resource build artifacts
app.ico
app.rc
app.syso

*.exe~

src/*.ico
src/*.rc
src/*.syso

# Local preview files
preview_*.html
